* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/vite.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;

}

.landingPageContainer nav {
  padding-inline: 1.2 rem;
  padding-block: 1.6 rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h1 {
  font-size: 1.8rem;
  font-weight: 500;

}

.landingPageContainer nav .navList {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}