@import "tailwindcss";

/* i want ki tailwind ki default color  will be overriden by it */

@theme {
  /* gray (from image + extra) */
  --color-gray-100: #eeeeef;
  --color-gray-200: #e6e9ed;
  --color-gray-600: #95989c;
  --color-gray-800: #4a4d52; 

  /* purple (from image + extra) */
  --color-purple-200: #d9ddee;
  --color-purple-500: #9492db;
  --color-purple-600: #7164c0;
  --color-purple-800: #4b3fa3; 
}

